@media (max-width: 1000px) {

    .grid {
        display: grid;
        grid-template-rows: repeat(1, 250px);
        grid-template-columns: repeat(1, 430px);
        height: 2250px;
        justify-content: center;
    }

    #img_div {
        img {
            margin: 10px;
            width: 100%;
            height: 195px;
        }
    }

}