@media (max-width: 1000px) {

    .grid {
        display: grid;
        grid-template-rows: repeat(1, 310px);
        grid-template-columns: repeat(1, 430px);
        height: 2920px;
        justify-content: center;
    }



}