@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #1A1A1D;
  --accent-color-red: #C3073F;
  --accent-color-gray: #4E4E50;
  --accent-color-blue: #567572FF;
}

body, #root, #App, html {
  width: 100%;
  margin: 0px;
  background-color: var(--main-bg-color);
  color: black;
  font-family: "Dosis";
}

#navbar_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 5%;
  color: white;
  background-color: var(--accent-color-red);
  z-index: 3;
}

#navbar_info h2 {
  margin-left: 10px;
}

#routes {
  display: flex;
}

#routes a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

#routes a:hover {
  border-color: white;
}

#spacing_div {
  height: 100px;
}

#search_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#mainSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 80%;
}

#backOffSearch {
  width: 10%;
  display: none;
}

#search_query {
  width: 50%;
  padding: 8px;
  text-align: center;
  color: var(--accent-color-red);
}

#submit_search, #backOffSearch {
  cursor: pointer;
  padding: 10px;
  background-color: var(--accent-color-red);
  color: white;
  border: none;
  margin-left: 3px;
  transition: 0.2s linear;
}

#submit_search:hover, #backOffSearch:hover {
  background-color: #f75b5b;
}

#grid1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gridCell {
  border: 1px solid;
  margin: 10px;
  background-color: var(--accent-color-gray);
  color: white;
  border-radius: 10px;
}

#descr_title {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  width: 50%;
  height: 100%;
}

#recipe_descr_div {
  display: flex;
  height: 260px;
}

#recipe_holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 310px);
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  height: 945px;
  justify-content: center;
  gap: 5px 15px;
}
.grid h2 {
  font-size: 19px;
  margin-top: 15px;
}

#img_div {
  width: 50%;
  height: 260px;
  margin-left: 5px;
  z-index: 2;
}

#img_div img {
  display: block;
  border: 8px solid var(--accent-color-blue);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

#gridHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#spinnerHolder {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 80px;
}

#star_div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 10px;
  margin-bottom: 7px;
  z-index: 2;
}
#star_div div {
  height: 16px;
}

.loader {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  background-color: var(--main-bg-color);
  border: 10px solid var(--accent-color-gray);
  border-top: 10px solid var(--accent-color-red);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
::-webkit-input-placeholder {
  color: var(--accent-color-red);
}

::-moz-placeholder {
  color: var(--accent-color-red);
}

:-ms-input-placeholder {
  color: var(--accent-color-red);
}

:-moz-placeholder {
  color: var(--accent-color-red);
}

@media (max-width: 1100px) {
  .grid {
    display: grid;
    grid-template-rows: repeat(1, 310px);
    grid-template-columns: repeat(1, 430px);
    height: 2920px;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  #navbar_info {
    flex-direction: column;
    height: 11%;
    justify-content: start;
    align-items: center;
  }
  #navbar_info h2 {
    text-align: center;
    margin-bottom: 0px;
    position: relative;
    bottom: 10px;
  }

  #spacing_div {
    height: 150px;
  }

  #routes {
    flex-direction: column;
    margin-top: 0px;
    text-align: center;
    position: relative;
    bottom: 7px;
  }
  #routes p {
    margin: 0px;
  }
}

/*# sourceMappingURL=App.css.map */
